
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20" style="margin-bottom: -160px;">
    <a 
      ><img alt="Logo" src="./assets/media/logos/logo_ibn_jazar_login.png" class="logoMD"
    /></a>
  </div>
<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">



 

      <router-outlet></router-outlet>



  <!--end::Content-->

  <!-- begin::Footer -->
<!--   <div class="d-flex flex-center flex-column-auto">
    <div class="d-flex align-items-center fw-bold fs-6">
      <a class="text-muted text-hover-primary px-2 cursor-pointer">About</a
      ><a class="text-muted text-hover-primary px-2 cursor-pointer">Contact</a
      ><a class="text-muted text-hover-primary px-2 cursor-pointer"
        >Contact Us</a
      >
    </div>
  </div>  -->
  <!-- end::Footer -->
</div>
