<ng-container>
    <app-tool-bar (BtnOpenClick)="OpenDiag(-1)" ToolBarName="Examens" ButtonName="Add Examen" IsDropDownExist="true"
        IsButtonExist="true" [Terms]="terms" ModalTarget="#kt_modal_Examen" TableHref="#kt_Examen_table_pane"
        CardHref="#kt_Examen_card_pane">
    </app-tool-bar>
</ng-container>

<div class="tab-content">
    <div id="kt_Examen_card_pane" class="tab-pane fade  show active " role="tabpanel">
        <div class="row g-6 g-xl-9">
            <div class="col-4" *ngFor="let item of ExamensByCourse">

                <a class="card border-hover-primary">

                    <div class="card-body d-flex flex-center flex-column  p-6 ">
                        <div class="symbol symbol-65px symbol-circle mb-5 me-3">
                            <img src="assets/media/svg/exam.svg" alt="image" tooltipPosition="left"
                                pTooltip="Coefficient :{{item.Coefficient}}">
                        </div>

                        <a class="fs-5 fw-bold text-dark mb-4" [routerLink]="['/examens/',item.Id]"
                            pTooltip="Voir Les details de {{item.Name}}">{{item.Name}}</a>
                        <div class="d-flex flex-wrap mb-3">
                            <!--begin::Due-->
                            <div class="border border-gray-300 border-dashed rounded w-92px py-2 px-2 me-3 mb-3">
                                <div class="fs-6 text-gray-800 fw-bold">{{item.StartDate | date}} de {{item.StartDate |
                                    date:'HH:mm'}} vers {{item.EndDate | date:'HH:mm'}}</div>
                                <div class="fw-semibold text-gray-400">
                                    Date</div>
                            </div>
                            <!--end::Due-->
                            <!--begin::Budget-->

                            <!--end::Budget -->
                        </div>
                        <!--end::Info-->
                        <div class="ms-5">
                            <a class="btn btn-icon btn-light-youtube me-3 " (click)="deleteExamen(item.Id)"
                                id="kt_docs_sweetalert_state_question"><i class="fas fa-trash fs-4"></i></a>
                            <a class="btn btn-icon btn-light-linkedin me-5 " (click)="OpenDiag(item.Id)"
                                data-bs-toggle="modal" data-bs-target="#kt_modal_Examen"><i
                                    class="fas fa-pencil fs-4"></i></a>
                        </div>

                    </div>


                    <!--end:: Card body -->
                </a>
                <!--end::Card-->
            </div>
        </div>

    </div>
    <div id="kt_Examen_table_pane" class="tab-pane fade" role="tabpanel">
        <div class="card card-flush">
            <div class="card-body pt-3">
                <!--begin::Table-->
                <div id="kt_profile_overview_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-wrapper" style="height:567px;overflow:auto;">
                        <table id="kt_profile_overview_table"
                            class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold dataTable no-footer">
                            <!--begin::Table head-->
                            <thead class="fs-7 text-gray-400 text-uppercase">
                                <tr>
                                    <th class="min-w-110px sorting">Name</th>
                                    <th class="min-w-40px sorting">Coefficient</th>
                                    <th class="min-w-90px sorting">Date</th>
                            </thead>
                            <tbody class="fs-6" *ngFor="let item of ExamensByCourse">

                                <tr class="odd">
                                    <td class="fw-bold">
                                        <a class="text-gray-900 text-hover-primary">{{item.Name}}</a>
                                    </td>
                                    <td>
                                        <!--begin::Members-->
                                        <div class="symbol-group symbol-hover fs-8">
                                            <div class="symbol symbol-25px symbol-circle" data-bs-toggle="tooltip"
                                                data-bs-original-title="Susan Redwood" data-kt-initialized="1">
                                                <span
                                                    class="symbol-label bg-primary text-inverse-primary fw-bold">{{item.Coefficient}}</span>
                                            </div>
                                        </div>
                                        <!--end::Members-->
                                    </td>
                                    <td>
                                        <a class="text-gray-900 text-hover-primary">Le {{item.StartDate | date}} de
                                            {{item.StartDate | date:'HH:mm'}} vers {{item.EndDate | date:'HH:mm'}} </a>
                                    </td>





                                </tr>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-generic-modal-dialog [modalTitle]="DialogTitle" [(showModal)]="modalIsVisible" [stepsCount]="1"
    [saveButtonCaption]="'general.ok' | translate" backButtonCaption="Annuler" [page]="page">

    <form class="form fv-plugins-bootstrap5 fv-plugins-framework" [formGroup]="ExamenForm">
        <div class="modal-body py-10 px-lg-17">
            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_address_scroll" data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                data-kt-scroll-dependencies="#kt_modal_add_address_header"
                data-kt-scroll-wrappers="#kt_modal_add_address_scroll" data-kt-scroll-offset="300px"
                style="max-height: 637px;">

                <!--begin::Billing form-->
                <div id="kt_modal_add_address_billing_info" class="collapse show">
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2 required">Name</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control form-control-solid" placeholder="" name="name"
                            formControlName="Name">
                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2 required">Coefficient</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control form-control-solid" placeholder="" name="address1"
                            formControlName="Coefficient">
                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->


                    <div class="d-flex flex-column mb-3 fv-row">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2">Matière</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control form-control-solid" placeholder="" readonly required="false"
                            [value]="Course?.Name">
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2 required">Enseignant</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <select class="form-select form-select-solid" data-control="select2"
                            formControlName="SupervisorId" data-placeholder="Select an option" data-hide-search="true">
                            <option></option>
                            <option *ngFor="let opt of teachersList" [value]="opt.Id">{{opt.FullName}}</option>
                        </select>

                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>

                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2 required">Term</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <select class="form-select form-select-solid" data-control="select2" formControlName="TermId"
                            data-placeholder="Select an option" data-hide-search="true">
                            <option></option>
                            <option *ngFor="let opt of terms" [value]="opt.Id">{{opt.Name}}</option>
                        </select>

                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>



                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2 required">Date de début</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <p-calendar dataType="string" formControlName="StartDate" showIcon="true" showTime="true"
                            showSeconds="true"></p-calendar>


                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>



                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="fs-6 fw-semibold mb-2 required">Date de Fin</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <p-calendar dataType="string" formControlName="EndDate" showIcon="true" showTime="true"
                            showSeconds="true"></p-calendar>


                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>



                </div>
                <!--end::Billing form-->
            </div>
            <!--end::Scroll-->
        </div>
    </form>
</app-generic-modal-dialog>